@using Humanizer
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using static Contract
@model Blogic.Crm.Web.Views.Contract.CreateContractViewModel

@{
    ViewData["Title"] = "Create contract";
    var contract = Model.Contract;
    var validationException = Model.ValidationException;
    var hasValidationFailures = validationException is { ValidationFailures.Keys.Count: > 0 };

    var validationFailures = validationException?.ValidationFailures!;
    var invalidClientId = hasValidationFailures &&
                          validationFailures.ContainsKey(nameof(contract.ClientId)) &&
                          validationFailures[nameof(contract.ClientId)].Length > 0;

    var invalidManagerId = hasValidationFailures &&
                           validationFailures.ContainsKey(nameof(contract.ManagerId)) &&
                           validationFailures[nameof(contract.ManagerId)].Length > 0;

    var invalidRegistrationNumber = hasValidationFailures &&
                                    validationFailures.ContainsKey(nameof(contract.RegistrationNumber)) &&
                                    validationFailures[nameof(contract.RegistrationNumber)].Length > 0;

    var invalidInstitution = hasValidationFailures &&
                             validationFailures.ContainsKey(nameof(contract.Institution)) &&
                             validationFailures[nameof(contract.Institution)].Length > 0;

    var invalidDateConcluded = hasValidationFailures &&
                               validationFailures.ContainsKey(nameof(contract.DateConcluded)) &&
                               validationFailures[nameof(contract.DateConcluded)].Length > 0;

    var invalidDateValid = hasValidationFailures &&
                           validationFailures.ContainsKey(nameof(contract.DateValid)) &&
                           validationFailures[nameof(contract.DateValid)].Length > 0;

    var invalidDateExpired = hasValidationFailures &&
                             validationFailures.ContainsKey(nameof(contract.DateExpired)) &&
                             validationFailures[nameof(contract.DateExpired)].Length > 0;
    
    string ValidationCssClass(bool hasValidationFailure, bool hasInvalidProperty)
    {
        return hasValidationFailure
            ? hasInvalidProperty
                ? "form-control is-invalid"
                : "form-control is-valid"
            : "form-control";
    }
}

<nav aria-label="breadcrumb mt-4 mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Contract" asp-action="GetContracts">Contract</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
</nav>

<h1>Create contract</h1>

<form asp-controller="Contract"
      asp-action="CreateContract"
      method="@HttpMethods.Post"
      asp-antiforgery="true"
      class="row g-3 needs-validation">
    <div class="col-md-4">
        <label asp-for="@contract.ClientId" class="form-label">@nameof(contract.ClientId).Humanize()</label>
        <input type="number"
               class="@ValidationCssClass(hasValidationFailures, invalidClientId)"
               asp-for="@contract.ClientId"
               min="1"
               required>
        @if (invalidClientId)
        {
            <div class="invalid-feedback">
                @foreach (var validationFailure in validationFailures[nameof(contract.ClientId)])
                {
                    <p class="text-danger">@validationFailure</p>
                }
            </div>
        }
        else
        {
            <div class="form-text">Contract owner.</div>
        }
    </div>
    <div class="col-md-4">
        <label asp-for="@contract.ManagerId" class="form-label">@nameof(contract.ManagerId).Humanize()</label>
        <input type="number"
               class="@ValidationCssClass(hasValidationFailures, invalidClientId)"
               asp-for="@contract.ManagerId"
               min="1"
               required>
        @if (invalidManagerId)
        {
            <div class="invalid-feedback">
                @foreach (var validationFailure in validationFailures[nameof(contract.ManagerId)])
                {
                    <p class="text-danger">@validationFailure</p>
                }
            </div>
        }
        else
        {
            <div class="form-text">Contract manager and consultant.</div>
        }
    </div>
    <div class="col-md-4">
        <label asp-for="@contract.RegistrationNumber" class="form-label">@nameof(contract.RegistrationNumber).Humanize()</label>
        <input type="text"
               class="@ValidationCssClass(hasValidationFailures, invalidClientId)"
               asp-for="@contract.RegistrationNumber"
               max="36"
               required
               placeholder="00000000-0000-0000-0000-000000000000"
               pattern="^[{]?[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}[}]?$">
        @if (invalidRegistrationNumber)
        {
            <div class="invalid-feedback">
                @foreach (var validationFailure in validationFailures[nameof(contract.RegistrationNumber)])
                {
                    <p class="text-danger">@validationFailure</p>
                }
            </div>
        }
        else
        {
            <div class="form-text">Format '00000000-0000-0000-0000-000000000000'.</div>
        }
    </div>
    <div class="col-md-4">
        <label asp-for="@contract.Institution" class="form-label">@nameof(contract.Institution).Humanize()</label>
        <input type="text"
               class="@ValidationCssClass(hasValidationFailures, invalidInstitution)"
               asp-for="@contract.Institution"
               max="@InstitutionMaximumLength.ToString()"
               required>
        @if (invalidInstitution)
        {
            <div class="invalid-feedback">
                @foreach (var validationFailure in validationFailures[nameof(contract.Institution)])
                {
                    <p class="text-danger">@validationFailure</p>
                }
            </div>
        }
        else
        {
            <div class="form-text">The institution with which the contract was concluded.</div>
        }
    </div>
    <div class="col-md-4">
        <label asp-for="@contract.DateConcluded" class="form-label">@nameof(contract.DateConcluded).Humanize()</label>
        <input type="date"
               class="@ValidationCssClass(hasValidationFailures, invalidDateConcluded)"
               asp-for="@contract.DateConcluded"
               min="1800-01-01"
               required>
        @if (invalidDateConcluded)
        {
            <div class="invalid-feedback">
                @foreach (var validationFailure in validationFailures[nameof(contract.DateConcluded)])
                {
                    <p class="text-danger">@validationFailure</p>
                }
            </div>
        }
        else
        {
            <div class="form-text">The date of conclusion of the contract.</div>
        }
    </div>
    <div class="col-md-4">
        <label asp-for="@contract.DateValid" class="form-label">@nameof(contract.DateValid).Humanize()</label>
        <input type="date"
               class="@ValidationCssClass(hasValidationFailures, invalidDateValid)"
               asp-for="@contract.DateValid"
               min="1800-01-01"
               required>
        @if (invalidDateValid)
        {
            <div class="invalid-feedback">
                @foreach (var validationFailure in validationFailures[nameof(contract.DateValid)])
                {
                    <p class="text-danger">@validationFailure</p>
                }
            </div>
        }
        else
        {
            <div class="form-text">The date of validity of the contract.</div>
        }
    </div>
    <div class="col-md-4">
        <label asp-for="@contract.DateExpired" class="form-label">@nameof(contract.DateExpired).Humanize()</label>
        <input type="date"
               class="@ValidationCssClass(hasValidationFailures, invalidDateExpired)"
               asp-for="@contract.DateExpired"
               min="1800-01-01"
               required>
        @if (invalidDateExpired)
        {
            <div class="invalid-feedback">
                @foreach (var validationFailure in validationFailures[nameof(contract.DateExpired)])
                {
                    <p class="text-danger">@validationFailure</p>
                }
            </div>
        }
        else
        {
            <div class="form-text">The date of expiration of the contract.</div>
        }
    </div>
    
    <div class="d-inline">
        <button type="submit" class="btn btn-dark">Submit</button>
    </div>
</form>