@using Humanizer
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model (PaginatedList<ContractRepresentation>?, ContractQueryString)

@{
    var (contracts, queryString) = Model;
}

<div class="card card-body">
    @await Html.PartialAsync("_GetContractsExporterPartialView", queryString)
    @await Html.PartialAsync("_GetContractsSearchPartialView", queryString)
    <div class="table-responsive">
        <table class="table table-borderless w-100">
            <caption>Total items: @((contracts?.TotalItems ?? 0).ToString())</caption>
            <thead>
            <tr class="fw-bold">
                <td>Identifier</td>
                <td>Registration number</td>
                <td>Institution</td>
                <td>Conclusion date</td>
                <td>Validity date</td>
                <td>Expiration date</td>
                <td>Client identifier</td>
                <td>Manager identifier</td>
                <td class="text-center">
                    <a asp-controller="Contract"
                       asp-action="CreateContract"
                       class="btn position-relative">
                        <span class="fw-bold">Management</span>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                            Create
                            <span class="visually-hidden">Create button</span>
                        </span>
                    </a>
                </td>
            </tr>
            </thead>
            <tbody>
            @{
                if (contracts is { Count: > 0 })
                {
                    foreach (var contract in contracts)
                    {
                        <tr>
                            <td>@contract.Id.ToString()</td>
                            <td>@contract.RegistrationNumber</td>
                            <td>@contract.Institution</td>
                            <td>
                                @contract.DateConcluded.Humanize()
                            </td>
                            <td>
                                @contract.DateValid.Humanize()
                            </td>
                            <td>
                                @contract.DateExpired.Humanize()
                            </td>
                            <td>
                                <a asp-controller="Client"
                                   asp-action="GetClient"
                                   asp-route-id="@contract.ClientId.ToString()"
                                   class="btn">
                                    @contract.ClientId.ToString()
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Consultant"
                                   asp-action="GetConsultant"
                                   asp-route-id="@contract.ManagerId.ToString()"
                                   class="btn">
                                    @contract.ManagerId.ToString()
                                </a>
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-controller="Contract"
                                       asp-action="GetContract"
                                       asp-route-id="@contract.Id.ToString()"
                                       class="btn">
                                        More
                                    </a>
                                    <a asp-controller="Contract"
                                       asp-action="UpdateContract"
                                       asp-route-id="@contract.Id.ToString()"
                                       class="btn">
                                        Update
                                    </a>
                                    @await Html.PartialAsync("_DeleteContractPromptPartialView", (new Entity { Id = contract.Id }, "btn"))
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
    </div>
    @await Html.PartialAsync("_GetContractsPaginationPartialView", Model)
</div>