@using Humanizer
@using Blogic.Crm.Infrastructure.Pagination
@model Blogic.Crm.Web.Views.Client.ClientDetailViewModel

@{
    ViewData["Title"] = "Client Detail";
    var client = Model.Client;
}

<h1 class="mt-4">Client Details</h1>

@if (client != null)
{
    <p>
        <span class="fw-bold">@nameof(client.Id).Humanize():</span> @client.Id.ToString()
    </p>
    <p>
        <span class="fw-bold">@nameof(client.Email).Humanize():</span> @client.Email
    </p>
    <p>
        <span class="fw-bold">@nameof(client.IsEmailConfirmed).Humanize():</span> @client.IsEmailConfirmed.ToString()
    </p>
    <p>
        <span class="fw-bold">@nameof(client.FamilyName).Humanize():</span> @client.FamilyName
    </p>
    <p>
        <span class="fw-bold">@nameof(client.GivenName).Humanize():</span> @client.GivenName
    </p>
    <p>
        <span class="fw-bold">@nameof(client.Phone).Humanize():</span> @client.Phone
    </p>
    <p>
        <span class="fw-bold">@nameof(client.IsPhoneConfirmed).Humanize():</span> @client.IsPhoneConfirmed.ToString()
    </p>
    <p><span class="fw-bold">@nameof(client.DateBorn).Humanize():</span> @client.DateBorn.ToString("dd/MM/yyyy") (@client.DateBorn.Humanize())</p>
    <p>
        <span class="fw-bold">@nameof(client.BirthNumber).Humanize():</span> @($"{client.BirthNumber[..6]}/{client.BirthNumber[6..]}")
    </p>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a asp-controller="Client"
           asp-action="Dashboard"
           class="text-decoration-none me-2">
            Dashboard
        </a>
        <a asp-route-id="@client.Id.ToString()"
           asp-controller="Client"
           asp-action="DeleteClient"
           class="text-decoration-none">
            Delete
        </a>
    </div>
}
else
{
    <p>Not Found!</p>
}